.edit-table {

  // override
  .mui-text-field.mui-has-floating-labels .mui-text-field-floating-label {
    top: 18px;
    font-size: 16px;
  }
  .mui-text-field .mui-text-field-input, .mui-text-field .mui-text-field-textarea {
    color: #666;
  }
  .mui-text-field .mui-text-field-hint, .mui-text-field .mui-text-field-floating-label {
    color: #c4c4c4;
  }
  hr {
    display: none;
  }

}